:root {
  --blue: #20e2d7;
  --yellow: #f6eea7;
  --gradient: linear-gradient(to right, #20e2d7 0%, #f6eea7 100%);
  --leftgradient: linear-gradient(to right, #f6eea7 0%, #20e2d7 100%);
  --smallText: #a8a8a8;
  --mediumText: #dfdfdf;
  --buttonColor: #3d3d3d;
  --backgroundColor: #f9f9f9;
  --white: #ffffff;
  --dark: #252525;
  --grey: #4a4a4a;
  --endFooter: #2b2b2b;
}
.software-container {
  display:inline-flex;
  margin: auto;
  padding: 0%;
  width: 100%;
  height: 120px;
  background-color: var(--backgroundColor);
  box-shadow: 0px 13px 8px -15px #111;
}
.software-image{
  margin-top: 5%;
  display: inline-block;
  margin: auto;
}
@media only screen and (max-device-width: 768px){
  .software-container{
    margin-top: 50%;
  }
  .software-image{
   width: 60%;
  }
}