
.build-title{
    display: block;
    margin: auto;
    background: var(--gradient);
    width: fit-content;
    padding: 1% 2% 1% 2%;
    font-weight: 600;
    border-radius: 50px;
    font-size: 20px;
}
.build-Learning{
    text-align: center;
    padding-top: 50px;
    margin-top: 3px;
}

.build-heading{
    padding: 0% 20% 0% 20%;
    margin-top: 2%;
    font-size:2rem;
    font-weight: bold;
    color: var(--dark);
}
.build-txt{
    color: var(--buttonColor);
    line-height: -5px;
    font-size: medium;
    font-weight:450;
    padding: 1% 24% 1% 24%;
    color: var(--smallText);
}
.build-learning-img{
    box-shadow: 0px 13px 8px -15px #111;
}
.buildskill-img{
   display: block;
   margin: auto;
}
@media only screen and (max-device-width: 768px) {
  .build-title{
    font-size: small;
  }
    .build-heading{
        font-size: medium;
    }
    .build-txt{
        font-size: small;
    }
    .buildskill-img{
        width: 100%;
    }
}