.ct-desc-container {
  background: url(../../Assets/Front-Page/contactPage.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
.ct-title {
  background: var(--gradient);
  width: fit-content;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.5% 2% 0.5% 2%;
  font-size: 25px;
  margin: 5% 0% 0% 15%;
}
.ct-heading {
  color: var(--backgroundColor);
  padding: 0.5% 2% 0.5% 2%;
  font-size: 50px;
  margin: 0% 0% 0% 15%;
}
.ct-txt {
  padding: 0.5% 2% 0.5% 2%;
  margin: 0% 0% 0% 15%;
  color: var(--yellow);
}
.ct-img {
  width: 40%;
  margin-left: 15%;
}
.ct-info-container {
  text-align: center;
  padding: 2% 10% 2% 10%;
}
.ct-info-heading {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  padding: 0% 0% 0% 0%;
  margin-top: 10%;
}
.ct-info-txt {
  color: var(--grey);
  padding: 1% 15% 1% 15%;
  text-align: justify;
}
.ct-bold {
  font-weight: 900;
}
.ct-info-img {
  width: 50%;
}
.get-info-container {
  background-color: var(--endFooter);
  padding: 2% 5% 2% 5%;
}
.ct-info-heading-1 {
margin-top: 10%;

  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  display: block;
  margin: auto;
}
.ct-info-txt-1 {
    color: var(--grey);
    padding: 1% 10% 1% 10%;
    text-align: justify;
  }
  .ct-info-heading-2 {
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    padding: 0% 0% 0% 0%;
    display: block;
    margin: auto;
  }