/* :root {
  --blue: #25257c;
  --yellow: #FACA28;
  --gradient: linear-gradient(to right, #25257c 0%, #FACA28 100%);
  --leftgradient: linear-gradient(to right, #FACA28 0%, #25257c 100%);
  --smallText: #a8a8a8;
  --mediumText: #dfdfdf;
  --buttonColor: #3d3d3d;
  --backgroundColor: #f9f9f9;
  --white: #ffffff;
  --dark: #252525;
  --grey: #4a4a4a;
  --endFooter: #2b2b2b;
} */
* {
  padding: 0;
  margin: 0;
}

.nav-container {
  background-color: #162a47;
  /* background-color: white; */
  /* color: black; */
  width: 100%;
  padding: 0%;
     
}
.nav-container-text{
  width: 80%;
  margin: auto;
  color: black;
}
.company-logo {
  width: 120%;
  height: 5vh; 
}
.nav-brand{
  width: 40%;
  height: fit-content;
  display: flex;
}
.dropdown {
  float: left;
  overflow: hidden;
  width: 30%;
  margin-left: 10%;
}
.category-btn{
  color: white;
  font-size: 20px;
  margin-left: 10%;
}
.cateicons{
  width: 100%;
  margin-left: 200%;
  margin-top: 25%;
}
.dropdown .dropbtn{
  font-size: 15px;  
  border: none;
  outline: none;
  color: white;
  margin-left: 5%;
  padding: 7px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-btn {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  
}

.drop-btn:hover {
  background-color: #ddd;
  color: var( --logocolor);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.signup {
  margin-top: -50px;
  margin-left: 5px;
  padding: 8px 10px;
  border: none;
  /* outline: none; */
  position: relative;
  border-radius: 5px;
  /* background: var(--gradient); */
  cursor: pointer;
  /* z-index: 1; */
  /* color: var(--white); */
  white-space: nowrap;
  background:var(--logocolor);
  color: white;
}
.signup:hover{
  border-radius: 5px;
  background: var(--white);
  color: var(--logocolor);
}
.nav-btn {
  color: var(--white);
  font-size:15px ;
  border: none;
  background: none;
  margin-left: 2%;
  white-space: nowrap;
  text-align: center;
}

.nav-btn:hover {
  cursor: pointer;
}

.nav-hamburguer-icon {
  font-size: 1.2em;
  display: block;
  color: var(--white);
}

.nav-hamburguer-icon:hover {
  color: var(--yellow);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
}

.nav-links {
  display: none;
  padding: 0% 0% 0% 0%;
}



@media screen and (min-width: 788px) {
  
  .nav-links {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-links > a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }

  .nav-links > a:not(:last-child) {
    margin-right: 1rem;
  }

  .nav-hamburguer-icon {
    display: none;
  }

  .overlay-container-hidden {
    display: none;
  }
}
@media all and (min-width: 600px) and (max-width: 1024px) {
  
  .nav-container{
    width: 170%;
    margin: auto;
  }
}
@media only screen and (max-device-width: 768px) {
  .company-logo {
    padding: 0;
    margin: 0;
    width: 70px;
    /* display: flex; */
    /* margin: auto; */
  }
  .category-btn{
    display: none;
  }
  .dropdown{
    display: none;
  }
}

/*Overlay menu classes */
.overlay-container-show {
  overflow: hidden;
  position: fixed;
  background: var(--dark);
  /* background-color: black; */
  /* opacity: 0.9; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: left linear 500ms;
}

.overlay-container-hidden {
  overflow: hidden;
  position: fixed;
  background: var(--dark);
  /* background-color: black; */
  /* opacity: 0.9; */
  top: 0;
  right: 0;
  bottom: 0;
  left: -600px;
  width: 100%;
  z-index: 1;
  transition: left linear 500ms;
}

.overlay-buttonClose {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 0.5em;
  font-size: 4em;
  color: var(--white);
}

.overlay-menu-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.overlay-menu {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: nowrap;
  /* margin-bottom: 10em; */
}

.overlay-menu a {
  font-size: 3em;
  font-weight: 100;
  text-decoration: none;
  color: #818181;
  transition: 0.3s;
}

.overlay-menu a:hover,
.overlay-menu a:focus {
  color: #f1f1f1;
}

.overlay-menu-item:not(:last-child) {
  margin-bottom: 0.3em;
}
.nav-btn-mb{
  color: var(--yellow);
  font-size: 20px;
  /* font-weight: 100; */
  border: none;
  background: none;
  margin: 1%;
  white-space: nowrap;
  text-align: center;
  margin-top: 50px;
}
.signup-mb{
border-radius: 10px;
  margin-top: 5px;
  font-size: 25px;
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}