.navbar-containter {
    width: 100%;
    height: 13vh;
    margin: 0%;
    padding: 0%;
    background-color: #252525;
}

.navbar-image {
    width: 230px;
    height: 70px;
    margin-top: 10px;
}

.nav-signup-btn {
    padding: 0%;
    color: whitesmoke;
    background: none;
    border: solid 5px linear-gradient(to right, #20e2d7 0%, #f6eea7 100%);

}

.navbar-nav {
    color: white;
    display: flex;
    text-decoration: none;
}

.navbar-nav ul {
    line-height: 100px;
    margin: 0%;
    padding-left: 20px;
}

.navbar-nav ul li {
    list-style: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    gap: 1;
}

.navbar-signup {
    display: flex;
    color: white;
}

.navbar-signup p {
    line-height: 70px;
    margin-left: 60px;
}

.navbar-button a {
    text-decoration: none;
    color: white;
    /* background-color: red; */
    padding: 8px 40px 8px 40px;
    border-radius: 30px;
}

.navbar-button a:hover {
    /* color: black;
    background:  linear-gradient(to right,#20e2d7 0%,#f6eea7 100%); */
}