.footer-container {
padding-top: 1%;
padding-bottom: 1%;
  background-color: var(--dark);
}
.footer-logo {
  margin-left: 20%;
  width: 40%;
}
.footer-txt {
  color: var(--smallText);
  font-size: small;
}
.footer-txt-newsletter {
  margin-top: 5%;
  font-size: small;
  color: var(--smallText);
}
.sub {
  margin-top: 2%;
  background-color: var(--buttonColor);
  padding: 3%;
  border: none;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 5%;
  color: white;
}
.subs-btn {
  
 padding: 3%;
  border: none;
  outline: none;
  position: relative;
  border-radius: 5px;
  background: var(--gradient);
  cursor: pointer;
  z-index: 1;
  color: var(--white);
  width: 85%;
}
.subs-btn::before {

  content: "";
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: 2px;
  background-color: var(--dark);
  z-index: -1;
}
.footer-objects {
  display: block;
}
.footer-heading {
  color: var(--mediumText);
  text-align: justify;
  font-weight: 400;
}
.footer-links{
    color: var(--smallText);
    margin-top: 2%;
    font-size: small;
    text-align: justify;
    padding-top: 5%;
}
.footer-links:hover{
    cursor: pointer;
    color: var(--yellow);
}
.object-img{
    width: 25%;
    margin-top: 10%;
}
.end-footer-container{
    background-color: var(--endFooter);
    padding: 1% 10% 1% 20%;
}
.endfooter-txt{
    color:var(--smallText);
    font-size: smaller;
}
.endfooter-link{
    margin-left: 5%;
    font-size: smaller;
    color: var(--smallText);
    text-decoration: underline;
}
.endfooter-link:hover{
    color: var(--yellow);
    cursor: pointer;
}
.social-media-icons{
  margin-top: 7%;
  width: 15%;
  display: block;
}
.social-media-links:hover{
  cursor: pointer;
}
.address-heading{
  margin-left: -20%;

  color: white;
}
.address-txt{
  color: white;
  font-size: medium;
  margin-top: 8%;
  margin-left: -20%;
}
.address-ph{
  margin-left: -20%;

  margin-top: 8%;
  color: white;
  font-size: 18px;
}
.barcode{
  width: 80%;
}

@media only screen and (max-device-width: 768px){
  .footer-container{
    padding: 2%;
  }
  .footer-objects{
    margin: 0%;
  }
  .end-footer-container{
    padding: 0%;
  }
  .endfooter-txt{
    text-align: center;
    display: block;
    width: 100%;
  }
  .endfooter-link{
    margin: 2%;
    margin-left: 5%;
    font-size: x-small;
  }
  .social-media-links{
    font-size: 25px;
  }
}